.navbar{
    --bs-tertiary-bg-rgb: 107, 190, 249;
    --bs-emphasis-color-rgb: 255,255,255;
}

.nombrePagina{
    padding-right: 40%;
}

.foto{
    width: 50px;
    height: 40px;
    margin-right: 10px;
}